html, body, div, span, applet, object, iframe, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    margin: 0px;
    padding: 0px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



.container{
    line-height: 1;
    background-color: #ededee;
    background-image: linear-gradient(135deg, #5ab9ea, #9960d0);
    box-sizing: border-box;
    padding-bottom: 15px;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.container__nav{
box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: 15px;
  background-color: white;
  align-items: center;
  height: 80px;
  border: solid;
  border-color: #ADBBDA;
  border-width: 0.5px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 95%;
  margin-right: 2rem;
  margin-left: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  justify-content: space-evenly;
}


.button-85 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 20px;
  }
  
  .button-85:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    left: 0;
    top: 0;
    border-radius: 10px;
  }

.Our-Logo-Name{
    font-family: "Space Mono", monospace;
    padding-right: 100px;
}
.container__main__crypto{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    background-color: white;
    border-radius: 8px;
    height:700px;
    width: 55%;
    margin-left: 2rem;
    overflow-y: auto;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-color: #80808099 #0000;
  scrollbar-width: thin;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: white;
}
.curency-individual{
    padding: 10px;
}
.container__Crypto__Name{
    padding-bottom: 8px;
}
.container__big__main__extra {
    display: flex;
    flex-direction: row;
}
.container__Border__all {
    display: flex;
    flex-direction: column;
    border: solid;
    border-width: .5px;
    margin: 1%;
    border-radius: 8px;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    align-items: center;
    padding: 8px;
}
.Big__Flex {
    display: flex;
    flex-direction: row;
}
.continer__extra_prices {
    margin-top: 40px;
    background-color: white;
    border-radius: 8px;
    height:700px;
    width: 37.5%;
    margin-left: 2rem;
}
.chart-container {
    width: 100%;
    overflow-x: auto; 
    white-space: nowrap;
  }
